* {
    margin: 0px;
    padding: 0px;
}

.headline {
    text-align: center;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
}

form {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 1px solid blue;
}

form input {
    border: 0px;
    width: 84%;
    padding: 10px;
    border: 2px solid green;
}

form button {
    width: 10.4%;
    padding: 10px;
}

#chat {
    list-style-type: none;
}



